.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.copyright {
  background-color: #721616;
  padding: 8px 0px;
  width: 100%;
}

.footer {
  background-color: firebrick;
  width: 100vw;
  height: 100px;
  color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 0 0;
}

.logo {
  height: 1em;
  margin: 5px;
}
